.container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    padding-top: 50px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.roadmapInfo {
    top: -20px;
    width: 100%;
    position: relative;
    object-fit: cover;
}

.item {
    height: auto;
    width: auto;
    display: block;
}

