.block {
    width: 350px;
    height: auto;
    margin: 25px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    filter: drop-shadow(0 0 0.75rem #B9B9B9);
}

.header {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.photo {
    height: 25px;
    width: auto;
}

.ellipses {
    height: 15px;
    width: auto;
}

.title {
    font-weight: 600;
}

.jigsawText {
    color: white;
    font-size: 16px;
    padding: 0 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.jigsaw1 {
    display: none;
    width: 100%;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #6866BD;
    padding: 0 10px;
}

.jigsaw1.active {
    display: flex ;
}

.jigsaw2 {
    display: none;
    width: 100%;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #8DBD66;
    padding: 0 10px;
}

.jigsaw2.active {
    display: flex ;
}

.jigsaw3 {
    display: none;
    width: 100%;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #BD6666;
    padding: 0 10px;
}

.jigsaw3.active {
    display: flex ;
}

.jigsaw4 {
    display: none;
    width: 100%;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #BE9167;
    padding: 0 10px;
}

.jigsaw4.active {
    display: flex ;
}


.footer {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
}
